/*footer*/
.grid-container {
  display: grid;
  grid-template-columns: auto 35%;
  background-color: #c2c9cc;
  padding: 6px;
  margin-top: 6%;
}
.grid-item {
  background-color: rgba(236, 236, 236, 0.8);
  padding: 6px;
  font-size: 16px;
  text-align: center;
}
ul {
  list-style: none;
}
/* formulario */
* {
  box-sizing: border-box;
}

.inputC {
  border-radius: 10px !important;
}

select,
textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 20px;
  resize: vertical;
  outline: none;
}
#comentario {
  margin-bottom: 1rem;
}
label {
  padding: 9px 9px 9px 0;
  display: inline-block;
}

.container_footer {
  border-radius: 50px;
  background-color: #c2c6c9;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 850px) {
  .logo_footer {
    display: none;
  }

  .grid-container {
    grid-template-columns: none;
  }

  .grid-item:nth-child(2) {
    grid-row-start: 1;
  }
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
